<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    

<!--==============================header=================================-->
<body>
    <header>
    <div class="container_12">
        <div class="grid_12">
            <div class="h_phone"></div>
            <h1><a href="index.html"><img src="../assets/logobiow-01.png" alt="Gerald Harris attorney at law"></a></h1>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="menu_block">
        <div class="container_12">
            <div class="grid_12">
                <div class="socials"><a href="#"></a><a href="#"></a></div>
                <div class="autor">
                    <a href="#">Se Connecter</a>
                    Social
                </div>
                <nav class="">
                    <ul class="sf-menu">
                        <li class="current"><a routerLink='accueil' > Accueil</a></li>
                        <li class="with_ul"><a routerLink='produit'>Nos Produits</a></li>
                        <li><a routerLink='nousConnaitre'>Nous Connaître</a>
                            <ul>
                                <li><a href="#"> Services List</a>
                                    <ul>
                                        <li><a href="#">Seeds</a></li>
                                        <li><a href="#">Traits</a></li>
                                        <li><a href="#">Safety Control</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Overview</a></li>
                                <li><a href="#">FAQS</a></li>
                            </ul>
                        </li>
                        <li><a href="index-4.html">Nos Activités</a></li>
                        <li><a routerLink='contact'>Contacts</a></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>
<!-- <div class="slider-relative">
    <div class="slider-block">
        <div class="slider">
            <a href="#" class="prev"></a>
            <a href="#" class="next"></a>
            <ul class="items">
                <li>
                    <img src="images/slide.jpg" alt="">
                    <div class="banner">Healthy life <br><br> tastes delicious</div>
                </li>
                <li>
                    <img src="images/slide1.jpg" alt="">
                    <div class="banner">A new generation <br><br> of farming</div>
                </li> -->
                <!-- <li>
                    <img src="images/slide2.jpg" alt="">
                    <div class="banner">Best food is<br><br> natural food</div>
                </li>
                <li>
                    <img src="images/slide3.jpg" alt="">
                    <div class="banner">New agricultural <br><br> technologies only</div>
                </li>
            </ul>
        </div>
    </div>
</div>
 -->




 <!-- <app-footer></app-footer> -->



</body>
</html>

<router-outlet>
</router-outlet>


