<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    

<!--==============================header=================================-->
<body>
    <header>
    <div class="container_12">
        <div class="grid_12">
            <div class="h_phone">Need Help? Call Us +1 (800) 123 4567</div>
            <h1><a href="index.html"><img src="../assets/logo.png" alt="Gerald Harris attorney at law"></a></h1>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="menu_block">
        <div class="container_12">
            <div class="grid_12">
                <div class="socials"><a href="#"></a><a href="#"></a></div>
                <div class="autor">
                    <a href="#">User Login</a>
                    Social
                </div>
                <nav class="">
                    <ul class="sf-menu">
                        <li class="current"><a routerLink='accueil' > Accueil</a></li>
                        <li class="with_ul"><a href="index-1.html">About</a></li>
                        <li><a href="index-2.html">Services</a>
                            <ul>
                                <li><a href="#"> Services List</a>
                                    <ul>
                                        <li><a href="#">Seeds</a></li>
                                        <li><a href="#">Traits</a></li>
                                        <li><a href="#">Safety Control</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Overview</a></li>
                                <li><a href="#">FAQS</a></li>
                            </ul>
                        </li>
                        <li><a href="index-3.html">Products</a></li>
                        <li><a href="index-4.html">Blog</a></li>
                        <li><a href="index-5.html">Contacts</a></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>
<div class="slider-relative">
    <div class="slider-block">
        <div class="slider">
            <a href="#" class="prev"></a>
            <a href="#" class="next"></a>
            <ul class="items">
                <li>
                    <img src="images/slide.jpg" alt="">
                    <div class="banner">Healthy life <br><br> tastes delicious</div>
                </li>
                <li>
                    <img src="images/slide1.jpg" alt="">
                    <div class="banner">A new generation <br><br> of farming</div>
                </li>
                <li>
                    <img src="images/slide2.jpg" alt="">
                    <div class="banner">Best food is<br><br> natural food</div>
                </li>
                <li>
                    <img src="images/slide3.jpg" alt="">
                    <div class="banner">New agricultural <br><br> technologies only</div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- /**************myCarousel*******************************************************/ -->

<div class="container_12">
    <h4 class="mb-3">Responsive Carousel with Caption</h4>
    <p>.carousel-caption .d-none .d-sm-block</p>
    <div id="myCarousel" class="carousel slide border" data-ride="carousel">
       <div class="carousel-inner">
          <div class="carousel-item active">
             <img class="d-block w-100" src="../assets/menu_arrow.png" alt="Leopard">
             <div class="carousel-caption d-none d-sm-block">
                <h5>Leopard</h5>
                <small>
                A black Panther is the melanistic color variant of any big cat species.
                Black Panthers in Asia and Africa are leopards (Panthera pardus).
                </small>
             </div>
          </div>
          <div class="carousel-item">
             <img class="d-block w-100" src="../images/carousel-img-2.jpg" alt="Cat">
             <div class="carousel-caption d-none d-sm-block">
                <h5>Black Cat</h5>
                <small>
                A black cat is a domestic cat with black fur that may be a mixed or specific breed
                </small>
             </div>
          </div>
          <div class="carousel-item">
             <img class="d-block w-100" src="../images/carousel-img-3.jpg" alt="Lion">
             <div class="carousel-caption d-none d-sm-block">
                <h5>Lion</h5>
                <small>
                The lion (Panthera leo) is a species in the cat family (Felidae).
                A muscular, deep-chested cat, it has a short, rounded head,
                a reduced neck and round ears
                </small>
             </div>
          </div>
       </div>
       <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
       </a>
       <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
       </a>
    </div>
 </div>
</body>
</html>